  # Challenge

  ## Identifying Outliers using Standard Deviation

In [1]:
# initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine

In [2]:
# create a connection to the database
#engine = create_engine("postgresql://postgres:postgres@localhost:5432/fraud_detection")

In [3]:
engine = create_engine("postgresql://postgres:Tx003677@localhost:5432/TransDB")

In [4]:
# code a function to identify outliers based on standard deviation
query = "SELECT t.id, t.date, t.amount, cc.id_card_holder FROM transaction as t INNER JOIN credit_card as cc ON t.card = cc.card;"

transaction_df = pd.read_sql(query, engine)

transaction_df.head()

     id                date  amount  id_card_holder
0   222 2018-01-01 21:35:10    6.22              13
1  2045 2018-01-01 21:43:12    3.83              13
2   395 2018-01-01 22:41:21    9.61              10
3  3309 2018-01-01 23:13:30   19.03               4
4   567 2018-01-01 23:15:10    2.95              18

In [5]:
transaction_df.sort_values("id_card_holder", axis = 0, ascending = True, 
                 inplace = True, na_position ='last')

transaction_df

        id                date  amount  id_card_holder
3164  1947 2018-11-25 01:27:57    2.99               1
274   1914 2018-01-29 06:32:49   10.24               1
2784  2138 2018-10-16 04:28:49    5.13               1
2768   984 2018-10-13 17:11:10   11.87               1
1561   816 2018-06-08 13:48:44    1.98               1
...    ...                 ...     ...             ...
920    294 2018-04-02 01:50:15    7.08              25
922   2616 2018-04-02 18:34:50   17.15              25
3386  1783 2018-12-19 10:41:34   10.14              25
167   2662 2018-01-18 12:41:06   15.86              25
1989  2425 2018-07-22 01:03:31    1.20              25

[3500 rows x 4 columns]

In [6]:
# Cal std diviation of the whole, then standard diviation of each id_card_holder?
df_std = np.std(transaction_df['amount'], axis = 0)
df_std

202.01405685944746

In [7]:
# def transactions_std(df):
#     std_list = []
#     index = 1
#     for i in range(25):
#         df1 = df.loc[df.id_card_holder == index]
#         std = np.std(df1['amount'], axis = 0)
#         std_list.append(std)
#         index += 1

# transactions_std(transaction_df)
# std_list

NameError: name 'std_list' is not defined

In [10]:
std_list = []
index = 1
for i in range(25):
    df1 = transaction_df.loc[transaction_df.id_card_holder == index]
    std = np.std(df1['amount'], axis = 0)
    std_list.append(std)
    index += 1
std_list

[359.7545898328081,
 5.513144380765574,
 326.5044330799175,
 5.7318390093056095,
 5.867147977318716,
 389.75646042993947,
 313.4179132170743,
 5.650150727932679,
 426.72666804936097,
 5.679574230791663,
 5.676219384490442,
 282.987590629633,
 5.894646398404297,
 6.508787971048912,
 5.828125280196329,
 288.11405953892404,
 5.588404722949764,
 323.4911828126586,
 5.586977275267951,
 5.569323529067831,
 5.818598256977116,
 5.340399154754324,
 5.655602881760807,
 214.6966222992641,
 307.47117997219686]

In [31]:
std_list2 = []
mean_lst2 = []
index_lst = []

In [32]:
index = 19
for i in range(19, 25, 2):
    df1 = transaction_df.loc[transaction_df.id_card_holder == index]
    std = np.std(df1['amount'], axis = 0)
    std_list2.append(std)
    index_lst.append(index)
    index += 2

std_list2

[5.586977275267951, 5.818598256977116, 5.655602881760807]

In [33]:
index = 19
for i in range(19, 25, 2):
    df1 = transaction_df.loc[transaction_df.id_card_holder == index]
    std = np.mean(df1['amount'], axis = 0)
    mean_lst2.append(std)
    index += 2

mean_lst2

[8.920731707317076, 9.523582089552237, 9.144804469273744]

In [34]:
index_lst

[19, 21, 23]

In [35]:
std_dict = {index_lst[i]: std_list2[i] for i in range(len(index_lst))}
std_dict

{19: 5.586977275267951, 21: 5.818598256977116, 23: 5.655602881760807}

In [30]:
# find anomalous transactions for 3 random card holders
df19 = transaction_df.loc[transaction_df.id_card_holder == 19]
df19

        id                date  amount  id_card_holder
2747   461 2018-10-11 21:48:06    5.13              19
3401  2757 2018-12-20 22:25:58   17.27              19
943   3495 2018-04-06 14:08:53    2.94              19
2613   517 2018-09-29 18:28:54    6.52              19
948   2771 2018-04-07 04:37:00   15.11              19
...    ...                 ...     ...             ...
2299  1891 2018-08-26 15:09:07   10.08              19
1681   293 2018-06-22 02:14:30    2.82              19
1656  1942 2018-06-19 04:17:12    3.01              19
1175  3462 2018-04-29 08:03:32    1.72              19
2005  3358 2018-07-24 06:24:21    1.13              19

[205 rows x 4 columns]

In [43]:
#df19 = df19.drop(['date', 'id_card_holder', 'id'], axis = 1)
df19.dtypes

amount    float64
dtype: object

In [44]:
mean_lst2.dtypes

AttributeError: 'list' object has no attribute 'dtypes'

In [46]:
#list19 = [x for x in df19 if (x > mean_lst2[0] - (2 * std_list2[0]))]
list19 = [x for x in df19 if (x > (8.920731707317076 - 2 * 5.586977275267951))]
list19

TypeError: '>' not supported between instances of 'str' and 'float'

  ## Identifying Outliers Using Interquartile Range

In [ ]:
# code a function to identify outliers based on interquartile range
#25 75 method
q25 = percentile(df, 25)
q75 = percentile(df, 75)
iqr = q75 - q25
cut_off = iqr * 1.5
lower = q25 - cut_off
upper = q75 + cut_off
outliers = [x for x in df if x < lower or x > upper]
lst_wo_out = [x for x in df if x > lower or x < upper]

In [ ]:
# find anomalous transactions for 3 random card holders